<form [formGroup]="addressForm" (ngSubmit)="submitAddress()" class="container">
    <div class="mb-3 form-group">
        <div class="mb-3">
            <label for="cityId" class="form-label">City</label>
            <div class="w-100">
                <p-dropdown
                formControlName="cityId"
                [options]="allCities?.data!"
                optionLabel="value"
                optionValue="key"
                placeholder="Select one"
                (onChange)="onCityChange()"
                styleClass="full-width-dropdown"
                >
                </p-dropdown>
            </div>
        </div>
        
        <div class="text-danger" *ngIf="getControl('cityId')?.invalid && getControl('cityId')?.touched">
            <span *ngIf="getControl('cityId')?.errors?.['required']">City is required</span>
        </div>
    </div>

    <div class="mb-3 form-group">
        <div class="mb-3">
            <label for="districtId" class="form-label">District</label>
            <p-dropdown
              formControlName="districtId"
              [options]="cityDistracts?.data!"
              optionLabel="value"
              optionValue="key"
              placeholder="Select one"
              (onChange)="onDistrictChange()"
              class="full-width-dropdown"
            >
            </p-dropdown>
        </div>
        
        <div class="text-danger" *ngIf="getControl('districtId')?.invalid && getControl('districtId')?.touched">
            <span *ngIf="getControl('districtId')?.errors?.['required']">District is required</span>
        </div>
    </div>

    <!-- <div class="mb-3 form-group" *ngIf="districtAndCitySelected">
        <label for="addressNotes" class="form-label">Full Address</label>
        <input type="text" class="form-control" formControlName="addressNotes" readonly>
        <div class="text-danger" *ngIf="getControl('addressNotes')?.invalid && getControl('addressNotes')?.touched">
            <span *ngIf="getControl('addressNotes')?.errors?.['addressNotes']">Full address is required</span>
        </div>
    </div> -->

    <app-google-maps [polygonPaths]="polygonPaths" *ngIf="districtAndCitySelected" (selectedFullAddress)="onFullAddressChange($event)"></app-google-maps>

    <div class="mb-3 form-group" *ngIf="districtAndCitySelected">
        <div class="mb-3">
            <label for="houseType" class="form-label">House Type</label>
            <p-dropdown
              formControlName="houseType"
              [options]="houseTypes?.data!"
              optionLabel="value"
              optionValue="key"
              placeholder="Select one"
              (onChange)="onHouseTypeChange()"
              class="full-width-dropdown"
            >
            </p-dropdown>
        </div>
        
        <div class="text-danger" *ngIf="getControl('houseType')?.invalid && getControl('houseType')?.touched">
            <span *ngIf="getControl('houseType')?.errors?.['required']">House Type is required</span>
        </div>
    </div>

    <div class="mb-3 form-group" *ngIf="districtAndCitySelected">
        <div class="mb-3">
            <label for="houseFloor" class="form-label">House Floor</label>
            <p-dropdown
              formControlName="floorNo"
              [options]="houseFloors?.data!"
              optionLabel="value"
              optionValue="key"
              placeholder="Select one"
              (onChange)="onHouseTypeChange()"
              class="full-width-dropdown"
            >
            </p-dropdown>
        </div>
        
        <div class="text-danger" *ngIf="getControl('floorNo')?.invalid && getControl('houseFloor')?.touched">
            <span *ngIf="getControl('floorNo')?.errors?.['required']">House Floor is required</span>
        </div>
    </div>

    <div class="mb-3 form-group" *ngIf="districtAndCitySelected">
        <label for="houseNo" class="form-label">House No</label>
        <input
            type="number"
            class="form-control"
            name="houseNo"
            id="houseNo"
            formControlName="houseNo"
            (change)="onHouseNumberChange(); printForm()"
        />
        <div class="text-danger" *ngIf="getControl('houseNo')?.invalid && getControl('houseNo')?.touched">
            <span *ngIf="getControl('houseNo')?.errors?.['required']">House No is required</span>
        </div>
    </div>

    <div class="mb-3 form-group" *ngIf="districtAndCitySelected && getControl('houseType')?.value == 1">
        <label for="apartmentNo" class="form-label">Apartment No</label>
        <input
            type="text"
            class="form-control"
            name="apartmentNo"
            id="apartmentNo"
            formControlName="houseNumber"
        />
        <div class="text-danger" *ngIf="getControl('apartmentNo')?.invalid && getControl('apartmentNo')?.touched">
            <span *ngIf="getControl('apartmentNo')?.errors?.['required']">Apartment No is required</span>
        </div>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary" [disabled]="addressForm.invalid"/>
</form>
