<div [ngClass]="{'map-error': mapError}">
    <google-map height="500px" width="100%" [center]="center" [zoom]="zoom" (mapClick)="mapClick($event)" >
        <map-marker [options]="markerOptions" [position]="markerPosition!" *ngIf="markerPosition"></map-marker>
        <map-polygon [paths]="polygonPaths" [options]="polygonOptions" (polygonClick)="mapClick($event)"></map-polygon>
    </google-map>
</div>



<div>
    lat: {{markerPosition?.lat}}
</div>
<div>
    lang: {{markerPosition?.lng}}
</div>
